.weather {
    margin: 10px;
    padding: 0;
    list-style: none;
  }
  
  .weather li {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  
  .weather li:first-child {
    margin-top: 0;
  }
  
  .weather li:last-child {
    margin-bottom: 0;
  }
  